.node {
    border: 1px solid black;
    position: absolute;
    padding: 30px 10px 5px 10px;
    background-color: lightgray;
    display: inline-grid;
    min-width: 5.5em;
    --webkit-user-select: none;
    user-select: none;
    width: auto;
}
.input-container {
    position: absolute;
    top: 4px;
    margin-left: 4px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.output-container {
    margin-top: 8px;
}
body {
    font-family: 'Monaco', monospace;
}
#workspace {
    width: 5000px;
    height: 10000px;
    position: relative;
    overflow: auto;
}
.delete-button {
    float: right;
    margin-right: 8px;
}
.aLabelClass {
    font-size: 0.8em;
}
.addSpeakerChannel {
    left: 10px;
    top: 10px;
}
.saveStateButton {
    top: 10px;
    right: 10px;
}
.copyStateButton {
    top: 70px;
    right: 10px;
}
.reloadStateButton {
    top: 40px;
    right: 10px;
}
.startAudioButton {
    top: 100px;
    left: 10px;
}
.navbarButton {
    position: fixed;
    z-index: 1000;
}
.deviceSelectButton {
    left: 10px;
    top: 40px;
}
.deviceDropdown {
    left: 10px;
    top: 70px;
}
.speakerChannelSelectorInput {
    width: 2em;
}
.deviceInportLabel {
    display: inline-block;
    width: 45%;
    font-size: 0.75em;
}
.deviceInport {
    width: 50%;
    display: inline-block;
}