.node {
    position: absolute;
    padding: 40px 10px 5px 10px;
    background: linear-gradient(to right, #f2f2f2, #c4c4c4);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    display: inline-grid;
    min-width: 5.5em;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    border: 3px solid #333;
    z-index: 1001;
}
.input-container {
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    position: absolute;
    top: 4px;
    padding-left: 4px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.output-container {
    padding-top: 6px;
    margin-left: -6px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#workspace {
    background-color: #333;
    width: 5000px;
    height: 10000px;
    position: relative;
    overflow: auto;
    touch-action: manipulation;
}
.delete-button {
    float: right;
    margin-right: 8px;
}
.info-button {
    float: right;
}
.aLabelClass {
    color: white;
    font-size: 0.8em;
}
#toggleNavbarButton {
    position: fixed;
    top: 1vh;
    right: 1vh;
    height: 40px;
    padding: 8px 4px;
}
.navbarButton {
    position: fixed;
    width: 10em;
    right: 1vh;
    z-index: 1003;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #f2f2f2, #c4c4c4);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    color: #000;
    font-size: 1em;
    cursor: pointer;
    min-height: 20px;
}
.navbarButton:hover {
    background: linear-gradient(to right, #c4c4c4, #f2f2f2);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
}
.startAudioButton {
    top: 60px;
    color: white;
    background: linear-gradient(to right, #005925, #002e13);
}
.saveStateButton {
    top: 110px;
}
.reloadStateButton {
    top: 160px;
}
.viewAllDevices {
    top: 210px;
}
.helpButton {
    top: 360px;
}
.recordButton {
    top: 260px;
    background: linear-gradient(to right, #ab2222, #841a1a) !important;
    color: white;
}
#exampleFiles {
    position: fixed;
    top: 310px;
    right: 1vh;
    z-index: 1003;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 10em;
    font-size: 1em;
    text-align: center;
    background: linear-gradient(to right, #f2f2f2, #c4c4c4);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
}
.allDevicesButton {
    position: absolute;
    left: 12em;
}
.deviceDropdown {
    display: none;
}
.speakerChannelSelectorInput {
    width: 3em;
}
.deviceInportLabel {
    display: inline-block;
    width: 6em;
    font-size: 0.75em;
}
.deviceInport {
    width: calc(100% - 6em);
    display: inline-block;
}
.awesompleteContainer {
    width: 12em;
    padding: 0.5em;
    border-radius: 10px;
    background: linear-gradient(to right, #f2f2f2, #c4c4c4);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    z-index: 1004 !important;
}
.awesomplete-submit {
    position: absolute;
    left: 12em;
}
.allDevicesButton {
    position: absolute;
    left: 13em;
}
.awesomplete input {
    width: 8.5em !important;
}

.awesomplete .awesomplete-highlight {
    background-color: #bde4ff;
}

mark{
    background-color:lightblue !important;
    padding:0;
    margin:0;
}
.selectedNode {
    border: 3px solid white;
}
#audioInputDevicesDropdown {
    position: absolute;
    top: 100px;
}
.deviceSelectText {
    font-style: italic;
    margin-bottom: 4px;
    position: relative;
    top:-2px;
}
.audioInputDeviceSelect {
    max-width: 10em;
}
.audioFileName {
    font-size: 0.8em;
    margin-top: 4px;
    margin-left: 11px;
    margin-bottom: 0;
    display: inline;
}
#infoDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: none;
    font-size: 1.5em;
    z-index: 1001;
}
#helpButton {
    cursor: pointer;
    text-align: center;
    position: fixed;
    padding: 10px 20px;
    bottom: 10px;
    right: 1vh;
    border-radius: 5px;
    background: linear-gradient(to right, #f2f2f2, #c4c4c4);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    border: none;
}
#viewAllDevices {
    cursor: pointer;
    position: fixed;
    padding: 10px 20px;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #f2f2f2, #c4c4c4);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    border: none;
}
.growl-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ab2222;
    color: white;
    border-radius: 5px;
    z-index: 1005;
    opacity: 0;
    animation: fade-in-out 4s forwards;
}
@keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
.deviceListModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 1002;
    display: none;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}
.deviceList {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.deviceListItem {
    margin: 10px;
}
/* screens smaller than 600px */
@media (max-width: 600px) {
    #exampleFiles, #viewAllDevices {
        width: 20%;
        height: 8%;
        min-height: 4vh;
        font-size: 22px;
    }
    #helpButton {
        height: 8%;
        min-height: 40px;
        font-size: 22px;
        width: 20%;
    }
    .navbarButton {
        height: 8%;
        font-size: 22px;
        min-height: 4vh;
        width: 20%;
    }
    .startAudioButton {
        top: calc(10% - 4.75%);
    }
    .saveStateButton {
        top: calc(19% - 4.75%);
    }
    .reloadStateButton {
        top: calc(28% - 4.75%);
    }
    #exampleFiles {
        width: 20%;
        top: calc(55% - 4.75%);
    }
    .viewAllDevices {
        top: calc(37% - 4.75%);
    }
    .recordButton {
        top: calc(46% - 4.75%);
    }
    .helpButton {
        top: calc(64% - 4.75%);
    }
    #toggleNavbarButton {
        height: 4%;
        min-height: 4%;
        width: 20%;
        font-size: 18px;
        font-size: 2vh;
    }
}
.hamburger {
    width: 10em;
    font-size: 1em;
    padding: 15px 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(to right, #acacac, #cecece);
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.jtk-endpoint {
    cursor: pointer;
}

.output-button {
    cursor: pointer;  
}

.device-hr {
    border: 0;
    height: 1px;
    background: #333;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    margin-bottom: 0;
}