.node {
    border: 1px solid black;
    position: absolute;
    padding: 30px 10px;
    background-color: lightgray;
    display: inline-block;
    min-width: 12em;
    --webkit-user-select: none;
    user-select: none;
}
.input-container {
    position: absolute;
    top: 4px;
}
.output-container {
    position: absolute;
    bottom: 4px;
    width: 100%;
}
.delete-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
body {
    font-family: 'Monaco', monospace;
}