.node {
    border: 1px solid black;
    position: absolute;
    padding: 30px 10px 5px 10px;
    background-color: lightgray;
    display: inline-grid;
    min-width: 5.5em;
    --webkit-user-select: none;
    user-select: none;
    width: auto;
}
.node input {
    float: left;
}
.input-container {
    position: absolute;
    top: 4px;
    margin-left: 4px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
body {
    font-family: 'Monaco', monospace;
}
#workspace {
    width: 5000px;
    height: 10000px;
    position: relative;
    overflow: auto;
}
.delete-button {
    float: right;
    margin-right: 8px;
}
.aLabelClass {
    font-size: 0.8em;
}
.addSpeakerChannel {
    position: fixed;
    top: 10px;
    z-index: 1000; /* TODO check if this line is necessary */
}
.deviceSelectButton {
    position: fixed;
    top: 40px;
    z-index: 1000;
}
.deviceDropdown {
    position: fixed;
    top: 70px;
    z-index: 1000;
}
.deviceInport {
    width: 8em;
}
.speakerChannelSelectorInput {
    width: 2em;
}